@import "./lwb/sassmixins/mixins";
p {
  margin: 0;
}
.top_search {
  @include size(px2rem(690px),px2rem(32px));
  background-color: #F2F2F2;
  border-radius:px2rem(50px);
  display: flex;
  flex-direction: row;
  align-items: center;  
  .icon_place, .icon_moredown ,.place_show{
    color: #FF5400;
  }

  .icon_place{
    font-size: px2rem(24px);
  }

  .place_show {
    font-size: px2rem(28px);
  }

  .icon_moredown {
    font-size: 0.5px;
    font-weight: 100;
  // @include size(px2rem(10px),px2rem(8px));

  }
  .search_type {
    width: px2rem(400px);
    background-color: transparent;
    border: 0;
  }
  .cut_line {
    width: 1px;
    background-color: #000000;
  
  }
  
}
.menu {
  display: flex;
  flex-direction: row;
  // flex-wrap: nowrap;
  .menu_icon {

   @include size(px2rem(110px),px2rem(130px));
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: px2rem(20px);
    text-align: center;
    .menu_img{
      @include size(px2rem(90px),px2rem(90px));
      align-self: center;
    }
    .menu_content {
      @include size(px2rem(110px),px2rem(24px));
      font-size: px2rem(24px);
      
    }
  }
}

.container{
  margin-left: px2rem(30px);
  margin-right: px2rem(30px);
  .notice {
    @include size(px2rem(690px),px2rem(72px));
    background:rgba(255,255,255,1);
    box-shadow:px2rem(0) px2rem(0) px2rem(8px) px2rem(0) rgba(0, 0, 0, 0.1);
    border-radius:8px;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    font-size: px2rem(26px);
    overflow: hidden;
    .icon_loud {
      align-self: center;
    }
    .notice_gonggao {
      margin: auto;
      width: px2rem(100px);
      // align-self: center;
    }
    .notice_text {
      width: px2rem(500px);;
      margin: 0rem;

    }
    .notice_text li{
      list-style: none;
      line-height: px2rem(72px);
    /*以下为了单行显示，超出隐藏*/
     @include text-overflow;
  
    }
  }

  .rush_buy {
    // display: flex;
    margin-top: px2rem(39px);
    width: px2rem(690px);
    height: px2rem(45px);
    // flex-direction: row;
    // flex-wrap: nowrap;
    position: relative;
    .rush_buy_left {
      float: left;
      // margin: px2rem(1px);
      // padding: px2rem(1px);
      position: static;
      .left_text {
        margin: px2rem(0px);
        font-size:px2rem(40px); 
        position: absolute;
        z-index: 2;
      }
      .rush_buy_bg {
        position: absolute;
        bottom: 0px;
        @include size(px2rem(160px),px2rem(14px));
        z-index: 1;
        background:rgba(255,84,0,1);
      }
     
    }
    .rush_buy_right {
      font-size:px2rem(24px);
      letter-spacing: px2rem(2px);
      float: right;
      position: absolute;
      right: 0px;
      bottom: 0px;
      .time {
        @include size(px2rem(40px),px2rem(28px));
        background:rgba(51,51,51,1);
        border-radius:4px;
        color: #fff;
        padding: px2rem(4px);
      }
    }


  }
  
  .rush_text {
    margin-top: px2rem(39px);
    .middle_img {
   
      @include size(px2rem(690px),px2rem(290px));
      border-radius:20px;
    }
    .rush_text_title {
      font-size:px2rem(34px);
      font-weight:bold;
color:rgba(51,51,51,1);
margin-top: px2rem(25px);
    }
    .rush_text_price {
      @include text-overflow;
      margin-top: px2rem(25px);
      font-size:px2rem(26px);
      font-weight:bold;
      color:rgba(102,102,102,1);
    }
    
    .rush_price {
      margin-top: px2rem(25px);
      padding: 0rem;
    }


  }
  .rush_price1 {
    font-size:px2rem(30px);
font-weight:bold;
color:rgba(230,46,46,1);
  }
  .rush_price2 {
    font-size:px2rem(40px);
    font-weight:bold;
    color:rgba(230,46,46,1);
  }
  .rush_price3 {
    font-size:px2rem(28px);
    font-weight:bold;
    color:rgba(230,46,46,1);
  }
  .rush_price4{
    font-size:px2rem(24px);
    font-weight:bold;
    color:rgba(102,102,102,1);
  }
  .rush_price5{
    font-size:px2rem(24px);
    font-weight:bold;
    text-decoration:line-through;
    color:rgba(195,195,195,1);
  }

  .like {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @include size(px2rem(690px),px2rem(240px));
    .like_img{
      @include size(px2rem(240px),px2rem(240px));
      border-radius:20px;
    }
    .like_right {
      display: flex;
      flex-direction: column;
      .like_name {
        font-size:px2rem(30px);
        font-weight:bold;
        color:rgba(51,51,51,1);
      }
     

      .like_content {
      
        font-size:px2rem(24px);
        font-weight:bold;
        color:rgba(102,102,102,1);
        @include text-overflow;
      }

      .like_time {

        font-size:px2rem(22px);
        font-weight:bold;
        color:rgba(102,102,102,1);
      }
      .like_state {
        .iconaddress {
          font-size:px2rem(20px);
        }
        .adress {
          font-size:px2rem(24px);
          font-weight:bold;
          color:rgba(102,102,102,1);
        }
      }

      .like_price1 {
        font-size:px2rem(30px);
    font-weight:bold;
    color:rgba(230,46,46,1);
      }
      .like_price2 {
        font-size:px2rem(40px);
        font-weight:bold;
        color:rgba(230,46,46,1);
      }
      .like_price3 {
        font-size:px2rem(28px);
        font-weight:bold;
        color:rgba(230,46,46,1);
      }
      .like_price4{
        font-size:px2rem(24px);
        font-weight:bold;
        color:rgba(102,102,102,1);
      }
      .like_price5{
        font-size:px2rem(24px);
        font-weight:bold;
        text-decoration:line-through;
        color:rgba(195,195,195,1);
      }
    
    }

  }
}





.footer_menu {
  @include size(px2rem(750px),px2rem(108px));
  position: fixed;
  bottom: 0;
  background:rgba(255,255,255,1);
  display: flex;
  flex-direction: row;

  border-top: 1px solid rgb(121, 117, 117);
  .footer_menu_one {
    flex-grow: 1;
    display: inline;
    text-align: center;
    .footer_menu_title {
      margin: 0;
      font-size:px2rem(18px);
      font-weight:400;
      color:rgba(51,51,51,1);
    }
  }
}


.swiper-container {
  margin: px2rem(20px) 0;
  @include size(px2rem(660px),px2rem(300px));
  border-radius:20px;
  z-index: 999;
}